<footer>
  <div class="footer-container">
    <div class="footer-left">
      <p>© VARTEC B.V. 2024. {{ 'ALL_RIGHTS_RESERVED' | translate }}</p>
    </div>
    <nav class="footer-right">
      <ul>
        <li><a routerLink="/home/about_us">{{ 'ABOUT_US' | translate }}</a></li>
        <li><a routerLink="/services">{{ 'SERVICES' | translate }}</a></li>
        <li><a routerLink="/projects">{{ 'PROJECTS' | translate }}</a></li>
        <li><a routerLink="/privacy">{{ 'PRIVACY' | translate }}</a></li>
      </ul>
    </nav>
  </div>
</footer>

  
