.footer {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  padding: 2vw; /* Use vw for padding for consistency */
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  margin: auto;
  flex-wrap: wrap;
}

.footer-logo {
  order: 2; /* Move the logo to the right side */
  margin-left: auto; /* Align logo to the right */
}

.footer-logo img {
  height: 3vw; /* Use vw for height */
  max-height: 50px;
}

.footer-links {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
}

.footer-column {
  margin: 1vw 2vw; /* Use vw for margin */
  flex: 1;
  min-width: 200px; /* Ensure a minimum width for columns */
}

.footer-column h4 {
  font-size: 1.8vw; /* Use vw for font size */
  margin-bottom: 0.5vw; /* Use vw for margin */
  color: var(--hover-text-color);
  cursor: pointer;
}

.footer-column a {
  display: block;
  color: var(--hover-text-color);
  font-size: 1.2vw;
  text-decoration: none;
  margin: 0.5vw 0; /* Use vw for margin */
  transition: color 0.3s;
  cursor: pointer;
}

.footer-column a:hover {
  background-color: var(--hover-background-color);
  color: var(--text-color);
}

.footer-divider {
  border-top: 1px solid var(--hover-text-color);
  margin: 1vw 0; /* Use vw for margin */
}

.footer-bottom {
  font-size: 1vw; /* Use vw for font size */
  color: var(--hover-text-color);
  text-align: center;
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
  .footer-content {
    flex-direction: column;
    align-items: center;
  }

  .footer-column {
    margin: 1vw 0;
    text-align: center;
  }

  .footer-logo {
    order: 1; /* Ensure the logo appears first on smaller screens */
    margin-bottom: 1vw; /* Add margin for spacing */
  }

  .footer-column h4, .footer-column a, .footer-bottom {
    font-size: 3.5vw; /* Adjusted font size for smaller screens */
  }
}

@media (max-width: 480px) {
  .footer-column h4, .footer-column a, .footer-bottom {
    font-size: 4.5vw; /* Further adjusted font size for smallest screens */
  }

  .footer-logo img {
    height: 5vw; /* Use vw for height */
    max-height: none;
  }
}
