
<br>
<br>
  <br>
  <section class="about-us">
    <div class="about-container">
      <div class="about-text">
        <h2>{{ 'ABOUT_US' | translate }}</h2>
        <p>{{ 'ABOUT_US_DESCRIPTION1' | translate }}</p>
        <p>{{ 'ABOUT_US_DESCRIPTION2' | translate }}</p>
      </div>
      <div class="about-video">
        <video id="aboutVideo" controls autoplay>
          <source src="assets/video/video1.mov" type="video/mp4">
          {{ 'VIDEO_NOT_SUPPORTED' | translate }}
        </video>
      </div>
    </div>
  </section>