<br/>
<br />

<section class="intro-section">
    <div class="intro-container">
        <h1>{{ 'WELCOME_SECURITY_SYSTEMS_TITLE' | translate }}</h1>
        <p>{{ 'WELCOME_SECURITY_SYSTEMS_DESCRIPTION' | translate }}</p>
    </div>
</section>

<section class="project-section white-background">
    <div class="container">
      <div class="text-content">
        <h2>{{ 'SECURITY_SYSTEMS_PROJECT_1_TITLE' | translate }}</h2>
      </div>
      <div class="image-content">
        <img src="assets/project/Security systems/radar PTZ camera unit.jpg" alt="Security Systems Project 1">
      </div>
    </div>
</section>

<section class="project-section black-background">
    <div class="container">
      <div class="image-content">
        <img src="assets/project/Security systems/security fencing.jpg" alt="Security Systems Project 2">
      </div>
      <div class="text-content">
        <h2>{{ 'SECURITY_SYSTEMS_PROJECT_2_TITLE' | translate }}</h2>
      </div>
    </div>
</section>

<section class="project-section white-background">
    <div class="container">
      <div class="text-content">
        <h2>{{ 'SECURITY_SYSTEMS_PROJECT_3_TITLE' | translate }}</h2>
      </div>
      <div class="image-content">
        <img src="assets/project/Security systems/CCTV camera.jpg" alt="Security Systems Project 3">
      </div>
    </div>
</section>

