
  
  <section class="hero">
    <div class="content">
      <h1>Use Solar For A Better Future</h1>
      <p>VARTEC has been supplying the most advanced solutions for large-scale solar PV installations for over 10 years in the UK and The Netherlands. With our extensive experience and a team of internal and external consultants and contractors, VARTEC is the ideal partner for designing, building and operating solar parks, carports, battery storage systems and electric vehicle charging. 
        Every project starts with a detailed analysis before we make an offer that perfectly suits your needs.
        
        We combine our professional services with the latest technologies and products available on the market. 
        
        We can help you with design services, full EPC (Engineering, Procurement & Construction) or EPC-Lite, and/or bespoke services such as project management, construction management, operation and maintenance and fault-finding. We also have our own portfolio of projects.
        </p>
      <div class="stats">
        <div>
          <h2>120K</h2>
          <p>Happy Customers</p>
        </div>
        <div>
          <h2>347</h2>
          <p>Project Success</p>
        </div>
      </div>
    </div>
    <div class="media">
      <img src="assets/image/hero.jpg" alt="Solar Panel">
    </div>
  </section>
  <section class="hero-videos">
    <video autoplay muted loop controls>
      <source src="assets/video/video1.mov" type="video/mp4">
      Your browser does not support the video tag.
    </video>
    <video autoplay muted loop controls>
      <source src="assets/video/video2.mov" type="video/mp4">
      Your browser does not support the video tag.
    </video>
    <video autoplay muted loop controls>
      <source src="assets/video/video3.mov" type="video/mp4">
      Your browser does not support the video tag.
    </video>
  </section>
  
