<br/>
<br />


<section class="intro-section">
    <div class="intro-container">
        <h1>{{ 'WELCOME_FLOATING_SOLAR_TITLE' | translate }}</h1>
        <p>{{ 'WELCOME_FLOATING_SOLAR_DESCRIPTION' | translate }}</p>
    </div>
</section>

<section class="project-section white-background">
    <div class="container">
      <div class="text-content">
        <h2>{{ 'FLOATING_SOLAR_PROJECT_1_TITLE' | translate }}</h2>
      </div>
      <div class="image-content">
        <img src="assets/project/Floating solar/15MWp floating solar.jpg" alt="Floating Solar Project 1">
      </div>
    </div>
</section>

<section class="project-section black-background">
    <div class="container">
      <div class="image-content">
        <img src="assets/project/Floating solar/operation and maintenance floating solar.jpg" alt="Floating Solar Project 2">
      </div>
      <div class="text-content">
        <h2>{{ 'FLOATING_SOLAR_PROJECT_2_TITLE' | translate }}</h2>
      </div>
    </div>
</section>

<section class="project-section white-background">
    <div class="container">
      <div class="text-content">
        <h2>{{ 'FLOATING_SOLAR_PROJECT_3_TITLE' | translate }}</h2>
      </div>
      <div class="image-content">
        <img src="assets/project/Floating solar/floating solar 2.jpg" alt="Floating Solar Project 3">
      </div>
   

