<br />
<br />
<br />

<section class="intro-section">
    <div class="intro-container">
        <h1>{{ 'WELCOME_SOLAR_PARKS_TITLE' | translate }}</h1>
        <p>{{ 'WELCOME_SOLAR_PARKS_DESCRIPTION' | translate }}</p>
    </div>
</section>

<section class="project-section white-background">
    <div class="container">
      <div class="text-content">
        <h2>{{ 'SOLAR_PARKS_PROJECT_1_TITLE' | translate }}</h2>
        <p>{{ 'SOLAR_PARKS_PROJECT_1_DESCRIPTION' | translate }}</p>
      </div>
      <div class="image-content">
        <img src="assets/project/solar parks/Solar park Emmen.jpg" alt="Solar Park Emmen">
      </div>
    </div>
</section>

<section class="project-section black-background">
    <div class="container">
      <div class="image-content">
        <img src="assets/project/solar parks/Solar park Nieuwendijk.jpg" alt="Solar Park Nieuwendijk">
      </div>
      <div class="text-content">
        <h2>{{ 'SOLAR_PARKS_PROJECT_2_TITLE' | translate }}</h2>
        <p>{{ 'SOLAR_PARKS_PROJECT_2_DESCRIPTION' | translate }}</p>
      </div>
    </div>
</section>

<section class="project-section white-background">
  <div class="container">
    <div class="text-content">
      <h2>{{ 'SOLAR_PARKS_PROJECT_3_TITLE' | translate }}</h2>
      <p>{{ 'SOLAR_PARKS_PROJECT_3_DESCRIPTION' | translate }}</p>
    </div>
    <div class="image-content">
      <img src="assets/project/solar parks/Solarpark Vlaamseweg_The Netherlands.JPG" alt="Solarpark Vlaamseweg, The Netherlands">
    </div>
  </div>
</section>