.contact-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .contact-details, .contact-form {
    flex: 1;
    min-width: 300px; /* Ensure cards are responsive */
    margin: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background: #fff;
    border-radius: 8px;
  }
  
  .details {
    display: flex;
    flex-direction: column;
  }
  
  .detail-item {
    margin-bottom: 15px;
  }
  
  .contact-form form {
    display: flex;
    flex-direction: column;
  }
  
  .contact-form label {
    margin-top: 10px;
  }
  
  .contact-form input,
  .contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .submit-button-container {
    display: flex;
    justify-content: center;
  }
  
  .contact-form button {
    padding: 10px 20px;
    border: none;
    background-color: #000;
    color: white;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .contact-form button[disabled] {
    background-color: #cccccc;
    cursor: not-allowed;
  }
  