<div class="contact-container">
  <div class="contact-details">
    <h2>{{ 'CONTACT_DETAILS' | translate }}</h2>
    <p>{{ 'CONTACT_MESSAGE' | translate }}</p>
    <p>{{ 'CONTACT_ADDITIONAL_INFO' | translate }}</p>
    <div class="details">
      <div class="detail-item">
        <h3>{{ 'PHONE' | translate }}</h3>
        <p>UK +447342740196</p>
        <p>NL +31638342809 </p>
      </div>
      <div class="detail-item">
        <h3>{{ 'OFFICE_HOURS' | translate }}</h3>
        <p>{{ 'WEEKDAYS_HOURS' | translate }}</p>
        <p>{{ 'WEEKEND_HOURS' | translate }}</p>
      </div>
      <div class="detail-item">
        <h3>{{ 'EMAIL' | translate }}</h3>
        <p><a href="mailto:info@vartec.global">info@vartec.global</a></p>
      </div>
    </div>
  </div>
  <div class="contact-form">
    <h1>{{ 'GET_IN_TOUCH' | translate }}</h1>
    <form [formGroup]="contactForm" (ngSubmit)="sendEmail()">
      <div class="form-group">
        <label for="firstName">{{ 'FIRST_NAME' | translate }}:</label>
        <input type="text" id="firstName" formControlName="firstName" required>
      </div>
      <div class="form-group">
        <label for="lastName">{{ 'LAST_NAME' | translate }}:</label>
        <input type="text" id="lastName" formControlName="lastName" required>
      </div>
      <div class="form-group">
        <label for="email">{{ 'EMAIL_ADDRESS' | translate }}:</label>
        <input type="email" id="email" formControlName="email" required>
      </div>
      <div class="form-group">
        <label for="phone">{{ 'PHONE_NUMBER' | translate }}:</label>
        <input type="tel" id="phone" formControlName="phone" required>
      </div>
      <div class="form-group">
        <label for="message">{{ 'MESSAGE' | translate }}:</label>
        <textarea id="message" formControlName="message" rows="4" required></textarea>
      </div>
      <div class="submit-button-container">
        <button type="submit" [disabled]="contactForm.invalid">{{ 'SUBMIT' | translate }}</button>
      </div>
    </form>
  </div>
</div>
