<div class="contact-container">
    <div class="contact-details">
      <h2>{{ 'CONTACT_DETAILS' | translate }}</h2>
      <p>{{ 'CONTACT_MESSAGE' | translate }}</p>
      <p>{{ 'CONTACT_ADDITIONAL_INFO' | translate }}</p>
      <div class="details">
        <div class="detail-item">
          <h3>{{ 'PHONE' | translate }}</h3>
          <p>+31 (0) 638342809 (NL)</p>
          <p>+44 (0) 7342740196 (UK)</p>
        </div>
        <div class="detail-item">
          <h3>{{ 'OFFICE_HOURS' | translate }}</h3>
          <p>{{ 'WEEKDAYS_HOURS' | translate }}</p>
          <p>{{ 'WEEKEND_HOURS' | translate }}</p>
        </div>
        <div class="detail-item">
          <h3>{{ 'EMAIL' | translate }}</h3>
          <p><a href="mailto:info@vartec.global">info@vartec.global</a></p>
        </div>
      </div>
    </div>
    <div class="contact-form">
      <h1>{{ 'GET_IN_TOUCH' | translate }}</h1>
      <form (ngSubmit)="sendEmail(contactForm)" #contactForm="ngForm">
        <label for="name">{{ 'FULL_NAME' | translate }}:</label>
        <input type="text" id="name" name="name" ngModel required>
        
        <label for="email">{{ 'EMAIL_ADDRESS' | translate }}:</label>
        <input type="email" id="email" name="email" ngModel required>
        
        <label for="phone">{{ 'PHONE_NUMBER' | translate }}:</label>
        <input type="tel" id="phone" name="phone" ngModel required>
        
        <label for="message">{{ 'MESSAGE' | translate }}:</label>
        <textarea id="message" name="message" rows="4" ngModel required></textarea>
        
        <div class="submit-button-container">
          <button type="submit" [disabled]="!contactForm.form.valid">{{ 'SUBMIT' | translate }}</button>
        </div>
      </form>
    </div>
  </div>
  