<br/>
<br />


<section class="intro-section">
    <div class="intro-container">
        <h1>{{ 'WELCOME_CARPORTS_TITLE' | translate }}</h1>
        <p>{{ 'WELCOME_CARPORTS_DESCRIPTION' | translate }}</p>
    </div>
</section>

<section class="project-section white-background">
    <div class="container">
        <div class="text-content">
            <h2>{{ 'CARPORTS_PROJECT_1_TITLE' | translate }}</h2>
        </div>
        <div class="image-content">
            <img src="assets/project/Carports/DJI_0062.JPG" alt="Carports Project 1">
        </div>
    </div>
</section>

<section class="project-section black-background">
    <div class="container">
        <div class="image-content">
            <img src="assets/project/Carports/IMG-20211013-WA0001.jpg" alt="Carports Project 2">
        </div>
        <div class="text-content">
            <h2>{{ 'CARPORTS_PROJECT_2_TITLE' | translate }}</h2>
        </div>
    </div>
</section>

<section class="project-section white-background">
    <div class="container">
        <div class="text-content">
            <h2>{{ 'CARPORTS_PROJECT_3_TITLE' | translate }}</h2>
        </div>
        <div class="image-content">
            <img src="assets/project/Carports/IMG-20211013-WA0004 - copia.jpg" alt="Carports Project 3">
        </div>
    </div>
</section>

<section class="project-section black-background">
    <div class="container">
        <div class="image-content">
            <img src="assets/project/Carports/solar carport with ev charging.jpg" alt="Carports Project 4">
        </div>
        <div class="text-content">
            <h2>{{ 'CARPORTS_PROJECT_4_TITLE' | translate }}</h2>
        </div>
    </div>
</section>
