.header-container {
  text-align: center;
  margin-bottom: 40px; /* Increased spacing below the header */
}

.carousel-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px; /* Padding to align with the design */
}
h1 {
  color:#fff;
}

.panel {
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  background-color: #ffffff; /* Ensure background is white */
}

.panel-content {
  text-align: center;
}

.panel img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
  transition: transform 0.3s ease;
}

.panel:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.panel:hover img {
  transform: scale(1.05);
}

.panel-text h3 {
  font-size: 20px;
  margin-top: 10px;
}

.panel-text p {
  font-size: 18px;
  color: #666;
}
