<header class="navbar">
  <div class="container">
    <div class="logo">
      <img src="assets/image/logo.png" alt="Vartec Logo">
    </div>
    <nav>
      <ul class="nav-links" [class.show]="isMenuOpen">
        <li class="nav-item" [class.active]="activeMenu === 'homeMenu'">
          <button class="dropdown-btn" routerLink="/" (click)="toggleDropdown('homeMenu')">{{ 'HOME' | translate }}</button>
          <ul class="dropdown-menu" [class.show]="activeMenu === 'homeMenu'">
            <li><a (click)="scrollToSection('aboutUsSection')">{{ 'ABOUT_US' | translate }}</a></li>
          </ul>
        </li>
        <li class="nav-item" [class.active]="activeMenu === 'servicesMenu'">
          <button class="dropdown-btn" (click)="toggleDropdown('servicesMenu')">{{ 'SERVICES' | translate }}</button>
          <ul class="dropdown-menu" [class.show]="activeMenu === 'servicesMenu'">
            <li><a routerLink="/services/epc" (click)="selectItem('epc')">{{ 'EPC' | translate }}</a></li>
            <li><a routerLink="/services/Consulting" (click)="selectItem('Consulting')">{{ 'CONSULTING_SERVICES' | translate }}</a></li>
            <li><a routerLink="/services/operationmaintenance" (click)="selectItem('Operation')">{{ 'OPERATION_MAINTENANCE' | translate }}</a></li>
          </ul>
        </li>
        <li class="nav-item" [class.active]="activeMenu === 'projectsMenu'">
          <button class="dropdown-btn" (click)="toggleDropdown('projectsMenu')">{{ 'PROJECTS' | translate }}</button>
          <ul class="dropdown-menu" [class.show]="activeMenu === 'projectsMenu'">
            <li><a [routerLink]="['/project/batterystorage']" routerLinkActive="router-link-active" (click)="selectItem('Battery')">{{ 'BATTERY_STORAGE' | translate }}</a></li>
            <li><a [routerLink]="['project/carpots']" (click)="selectItem('carpots')">{{ 'CARPORTS' | translate }}</a></li>
            <li><a [routerLink]="['/project/evcharging']" (click)="selectItem('Charging')">{{ 'EV_CHARGING' | translate }}</a></li>
            <li><a [routerLink]="['/project/floating']" (click)="selectItem('Floating')">{{ 'FLOATING_SOLAR' | translate }}</a></li>
            <li><a [routerLink]="['/project/security']" (click)="selectItem('Security')">{{ 'SECURITY_SYSTEMS' | translate }}</a></li>
            <li><a [routerLink]="['/project/solarparks']" (click)="selectItem('parks')">{{ 'SOLAR_PARKS' | translate }}</a></li>
          </ul>
        </li>
        <li class="nav-item" [class.active]="activeMenu === 'contactMenu'">
          <a id="contactus" (click)="scrollToSection('contactussection')">{{ 'CONTACT_US' | translate }}</a>
        </li>
        <li class="nav-item">
          <a *ngIf="toshowlan" (click)="switchLanguage('nl')">
            <img src="assets/image/language/netherlands.png" alt="Language"> NL
          </a>
          <a *ngIf="!toshowlan" (click)="switchLanguage('en')">
            <img src="assets/image/language/english.png" alt="Language"> EN
          </a>
        </li>
      </ul>
      <div class="hamburger-menu" (click)="toggleMenu()">
        <div></div>
        <div></div>
        <div></div>
      </div>
    </nav>
  </div>
</header>

<section *ngIf="showMiddleSection" class="hero" id="heroSection" [style.backgroundImage]="'url(' + backgroundImage + ')'">
  <div class="hero-overlay"></div>
  <div class="hero-content">
    <div class="logo-heading">
      <div class="hero-logo">
        <!-- <img src="assets/image/logo.png" alt="Vartec Logo"> -->
      </div>
      <h1>VARTEC</h1>
    </div>
    <p>{{ 'VARTEC_DESC' | translate }}</p>
  </div>
</section>

<section *ngIf="showMiddleSection" class="about-us" id="aboutUsSection" #aboutUsElement>
  <div class="about-container">
    <div class="about-text">
      <h2>{{ 'ABOUT_US' | translate }}</h2>
      <p>{{ 'ABOUT_US_DESCRIPTION1' | translate }}</p>
      <p>{{ 'ABOUT_US_DESCRIPTION2' | translate }}</p>
    </div>
    <div class="about-video">
      <video #aboutVideo id="aboutVideo" controls autoplay muted loop>
        <source src="assets/video/finalmerge.mp4" type="video/mp4">
        Your browser does not support the video tag.
      </video>
    </div>
  </div>
</section>

<router-outlet></router-outlet>
<div id="contactussection">
  <app-contact></app-contact>
</div>

<app-footer></app-footer>
