<header class="navbar">
  <div class="container">
    <div class="logo">
      <img src="assets/image/logo.png" alt="Hoyert Logo">
    </div>
    <nav>
      <ul class="nav-links">
        <li class="nav-item">
          <button class="dropdown-btn" (click)="toggleDropdown('homeMenu')">Home</button>
          <ul class="dropdown-menu" [class.show]="activeMenu === 'homeMenu'">
            <li><a href="#"  routerLink="/home/about_us" (click)="selectItem('aboutUs')">About Us</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <button class="dropdown-btn" (click)="toggleDropdown('servicesMenu')">Services</button>
          <ul class="dropdown-menu" [class.show]="activeMenu === 'servicesMenu'">
            <li><a href="#"  routerLink="/services/epc"  (click)="selectItem('epc')">EPC</a></li>
            <li><a href="#" routerLink="/services/Consulting" (click)="selectItem('Consulting')">Consulting services</a></li>
            <li><a href="#"  routerLink="/services/operation&maintenance" (click)="selectItem('Operation')">Operation and Maintenance (O&M)</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <button class="dropdown-btn" (click)="toggleDropdown('projectsMenu')">Projects</button>
          <ul class="dropdown-menu" [class.show]="activeMenu === 'projectsMenu'">
            <li><a href="#" (click)="selectItem('Battery')">Battery Storage</a></li>
            <li><a href="#" (click)="selectItem('carpots')">carpots</a></li>
            <li><a href="#" (click)="selectItem('Charging')">EV Charging</a></li>
            <li><a href="#" (click)="selectItem('Floating')">Floating Solar</a></li>
            <li><a href="#" (click)="selectItem('Security')">Security systems</a></li>
            <li><a href="#" (click)="selectItem('parks')">Solar parks</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a href="#" (click)="selectItem('contact')">Contact Us</a>
        </li>
        <li class="nav-item">
          <a href="#" (click)="selectItem('language')">
            <img src="assets/image/language/netherlands.png" alt="Language"> Language
          </a>
        </li>
      </ul>
    </nav>
  </div>
</header>



