.navbar {
  display: flex;
  align-items: center; /* Align items vertically center */
  justify-content: space-between; /* Space between logo and nav items */
  background-color: var(--secondary-color); /* White */
  padding: 2px 20px;
  position: fixed;
  width: 98%;
  top: 0;
  z-index: 1000;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}

.container {
  display: flex;
  justify-content: space-between; /* Space between logo and nav items */
  align-items: center; /* Align items vertically center */
  width: 100%;
}

.logo img {
  height: 60px;
}

.nav-links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center; /* Align items vertically center */
}

.nav-item {
  position: relative;
  margin: 0 10px;
}

.nav-links a {
  color: var(--text-color); /* Black */
  font-weight: normal; /* Ensure normal font-weight */
  background-color: transparent;
  border: none;
  text-decoration: none;
  padding: 10px 20px;
  display: inline-block;
  border-radius: 4px;
  font-size: 16px;

  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s; /* Smooth transitions */
}

 .nav-links button {
  color: var(--text-color); /* Black */
  font-weight: normal; /* Ensure normal font-weight */
  background-color: transparent;
  border: none;
  text-decoration: none;
  padding: 10px 20px;
  display: inline-block;
  border-radius: 4px;
  font-size: 16px;
  font-weight: bolder;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s; /* Smooth transitions */
}
#contactus  {
  color: var(--text-color); /* Black */
  font-weight: normal; /* Ensure normal font-weight */
  background-color: transparent;
  border: none;
  text-decoration: none;
  padding: 10px 20px;
  display: inline-block;
  border-radius: 4px;
  font-size: 16px;
  font-weight: bolder;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s; /* Smooth transitions */
}
#contactus:hover{
  background-color: var(--hover-background-color); /* Gold color similar to the logo */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  color: var(--hover-text-color); /* White */
}

.nav-links a:hover, .nav-links button:hover, .nav-links .active {
  background-color: var(--hover-background-color); /* Gold color similar to the logo */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  color: var(--hover-text-color); /* White */
}


.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: var(--secondary-color); /* White */
  min-width: 200px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Larger shadow for dropdown */
  z-index: 1000;
  list-style: none;
  padding: 0;
  margin: 0;
  border-radius: 4px; /* Rounded corners */
  overflow: hidden; /* Clip the corners */
  transform: translateY(10px); /* Initial position for animation */
  opacity: 0;
  transition: opacity 0.3s, transform 0.3s; /* Smooth transitions */
}

.dropdown-menu.show {
  display: block;
  transform: translateY(0); /* Final position for animation */
  opacity: 1;
}

.dropdown-menu li {
  border-bottom: 1px solid #999;
}

.dropdown-menu li:last-child {
  border-bottom: none;
}

.dropdown-menu a {
  color: var(--text-color); /* Black */
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  transition: background-color 0.3s; /* Smooth transitions */
}

.dropdown-menu a:hover {
  background-color: var(--hover-background-color); /* Gold color for hover */
  color: var(--hover-text-color); /* White */
}

.active {
  color: var(--hover-text-color) !important; /* White */
  background-color: var(--hover-background-color) !important; /* Gold color similar to the logo */
  font-weight: bold;
  border-radius: 4px;
}

.hero {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--primary-color); /* Gold color similar to the logo */
  position: relative;
  padding-top: 60px; /* Adjust padding to make space for fixed navbar */
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden; /* Prevent horizontal overflow */
  background-position: center;
  transition: background-image 1s ease-in-out; /* Smooth transition for background image */
}

.hero:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
/* Dark overlay */
  z-index: 1;
}

.hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5); /* Black overlay */
  z-index: 1;
}

.hero-content {
  position: relative;
  z-index: 2;
  max-width: 100%; /* Ensure content doesn't overflow */
  overflow: hidden; /* Prevent overflow */
  display: flex; /* Make the container a flex container */
  align-items: center; /* Vertically center the items */
  flex-direction: column; /* Stack the items vertically */
}

.hero-content .logo-heading {
  display: flex; /* Make the container a flex container */
  align-items:  flex-end; /* Vertically center the items */
 /* Space between the logo-heading and description */
}

.hero-logo {
  margin-right: 20px;
/* Space between the logo and the heading */
}
.hero-logo img {
  height: 180px; /* Adjust the height of the logo */
  width: auto; /* Ensure the aspect ratio is maintained */
}
.hero h1 {
  font-size: 120px;
  margin-bottom: 10px;
  box-shadow: 0 4px 6px rgba(255, 255, 255, 0.1); /* Adjust shadow color */
  animation: fadeIn 2s ease-in-out;
  color: var(--secondary-color); /* White */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6); /* Add shadow to text */
  font-family: 'Arial', sans-serif; /* Font style */
  font-weight: bold; 
}

.hero p {
  font-size: 35px;
  margin-bottom: 20px;
  color: var(--secondary-color); /* White */
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5); /* Adjust shadow color */
}

.hero .btn {
  background: var(--primary-color); /* Gold color similar to the logo */
  color: var(--text-color); /* Black */
  padding: 14px 24px;
  text-decoration: none;
  border-radius: 4px;
  font-size: 18px;
  transition: background-color 0.3s, box-shadow 0.3s; /* Smooth transitions */
}

.hero .btn:hover {
  background: var(--text-color); /* Black */
  color: var(--primary-color); /* Gold color similar to the logo */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Shadow for hover effect */
}

.about-us {
  background-color: var(--secondary-color); /* White */
  padding: 40px 20px;
  color: var(--text-color); /* Black */
}

.about-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: auto;
}

.about-text {
  flex: 1;
  margin-right: 20px;
}

.about-text h2 {
  font-size: 32px;
  color: var(--text-color); /* Black */
}

.about-text p {
  font-size: 20px;
  color: var(--text-color); /* Black */
  line-height: 1.5; /* Increase line height for better readability */
  margin: 40px 0;
}

.about-video {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%; /* Ensure the video container takes full height */
}

.about-video video {
  width: 100%;
  max-width: 600px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Shadow for the video */
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.hero {
  animation: fadeIn 1s ease-in-out;
}

@media (max-width: 768px) {
  .hero h1 {
    font-size: 80px;
  }

  .hero p {
    font-size: 24px;
  }

  .hero-content {
    flex-direction: column; /* Stack the logo and heading vertically on smaller screens */
  }

  .hero-logo {
    margin-right: 0;
    margin-bottom: 20px;
  }
}
