
<br />
<br />
<br />
<div class="consulting-services-container">
  <div class="text-content">
    <h2>{{ 'CONSULTING_SERVICES' | translate }}</h2>
    <p>{{ 'CONSULTING_SERVICES_DESCRIPTION' | translate }}</p>
    <ul>
      <li>{{ 'CONSULTING_DETAILED_DESIGNS' | translate }}</li>
      <li>{{ 'CONSULTING_PROJECT_MANAGEMENT' | translate }}</li>
      <li>{{ 'CONSULTING_HEALTH_SAFETY' | translate }}</li>
      <li>{{ 'CONSULTING_CONSTRUCTION_MANAGEMENT' | translate }}</li>
    </ul>
  </div>
  <div class="image-content">
    <img src="assets/image/services/Consulting services/design CAD.jpg" alt="{{ 'DESIGN_CAD' | translate }}">
    <p>{{ 'DESIGN_CAD' | translate }}</p>
  </div>
</div>
<div class="background-image">
  <img src="assets/image/services/Consulting services/health and safety.jpg" alt="{{ 'HEALTH_AND_SAFETY' | translate }}">
</div>
<br />

