<br>
<br>
<br>
<br>
<div class="consulting-container">
  <div class="image-content">
    <div class="image-row">
      <div class="image-item">
        <img src="assets/image/services/Consulting services/design CAD.jpg" alt="Design CAD">
        <p>Design CAD</p>
      </div>
      <div class="image-item">
        <img src="assets/image/services/Consulting services/health and safety.jpg" alt="Health and Safety">
        <p>Health and Safety</p>
      </div>
    </div>
  </div>
  <div class="text-content">
    <h2>Consulting Services</h2>
    <p>
      Apart from our main EPC business, VARTEC can support you with ad-hoc services such as:
    </p>
    <ul>
      <li>Detailed designs and calculations</li>
      <li>Project, programme and budget management</li>
      <li>Health and Safety coordination</li>
      <li>Construction management</li>
    </ul>
  </div>
</div>




  
