
<section class="intro-section">
    <div class="intro-container">
        <h1>{{ 'WELCOME_TITLE' | translate }}</h1>
        <p>{{ 'WELCOME_DESCRIPTION' | translate }}</p>
    </div>
</section>

<section class="project-section white-background">
    <div class="container">
      <div class="text-content">
        <h2>{{ 'PROJECT_1_TITLE' | translate }}</h2>
      </div>
      <div class="image-content">
        <img src="assets/project/Battery storage/battery storage.jpg" alt="Battery Storage 1">
      </div>
    </div>
</section>

<section class="project-section black-background">
    <div class="container">
      <div class="image-content">
        <img src="assets/project/Battery storage/Energy-storage-on-page-1-scaled.jpg" alt="Battery Storage 2">
      </div>
      <div class="text-content">
        <h2>{{ 'PROJECT_2_TITLE' | translate }}</h2>
      </div>
    </div>
</section>

<section class="project-section white-background">
    <div class="container">
      <div class="text-content">
        <h2>{{ 'PROJECT_3_TITLE' | translate }}</h2>
      </div>
      <div class="image-content">
        <img src="assets/project/Battery storage/Solar with storage.jpg" alt="Battery Storage 3">
      </div>
    </div>
</section>

<section class="project-section black-background">
    <div class="container">
      <div class="image-content">
        <img src="assets/project/Battery storage/Solar with storage.webp" alt="Battery Storage 4">
      </div>
      <div class="text-content">
        <h2>{{ 'PROJECT_4_TITLE' | translate }}</h2>
      </div>
    </div>
</section>
