<br />
<br />
<br />
<br />
<br />
<div class="operation-maintenance-container">
  <div class="text-content">
    <h2>{{ 'OPERATION_MAINTENANCE_TITLE' | translate }}</h2>
    <p>{{ 'OPERATION_MAINTENANCE_DESC1' | translate }}</p>
    <p>{{ 'OPERATION_MAINTENANCE_DESC2' | translate }}</p>
    <h3>{{ 'SERVICES' | translate }}</h3>
    <h4>{{ 'GUARANTEES' | translate }}</h4>
    <ul>
      <li>{{ 'RESPONSE_TIME' | translate }}</li>
      <li>{{ 'AVAILABILITY' | translate }}</li>
      <li>{{ 'PERFORMANCE_RATIOS' | translate }}</li>
      <li>{{ 'YIELD' | translate }}</li>
    </ul>
    <h4>{{ 'OPERATIONS' | translate }}</h4>
    <ul>
      <li>{{ 'REMOTE_MONITORING' | translate }}</li>
      <li>{{ 'TASK_MANAGEMENT' | translate }}</li>
      <li>{{ 'REMOTE_PLANT_CONTROL' | translate }}</li>
      <li>{{ 'SITE_PERFORMANCE_REPORTING' | translate }}</li>
      <li>{{ 'TREND_ANALYSIS' | translate }}</li>
      <li>{{ 'PANEL_CLEANING_TIMETABLE' | translate }}</li>
    </ul>
    <h4>{{ 'MAINTENANCE' | translate }}</h4>
    <ul>
      <li>{{ 'FIXED_PRICE_PACKAGES' | translate }}</li>
      <li>{{ 'INSPECTIONS_MAINTENANCE' | translate }}</li>
      <ul>
        <li>{{ 'INVERTERS' | translate }}</li>
        <li>{{ 'TRANSFORMERS' | translate }}</li>
        <li>{{ 'SWITCHGEAR' | translate }}</li>
        <li>{{ 'SENSORS' | translate }}</li>
        <li>{{ 'STRUCTURE' | translate }}</li>
        <li>{{ 'MODULES' | translate }}</li>
        <li>{{ 'COMBINER_BOXES' | translate }}</li>
        <li>{{ 'CABLING' | translate }}</li>
        <li>{{ 'IV_CURVE_TESTING' | translate }}</li>
        <li>{{ 'THERMAL_IMAGING' | translate }}</li>
        <li>{{ 'ELECTROLUMINESCENCE' | translate }}</li>
      </ul>
      <li>{{ 'OUTAGE_DIAGNOSTICS' | translate }}</li>
      <li>{{ 'PV_KIT_REPLACEMENT' | translate }}</li>
      <li>{{ 'MV_HV_KIT_REPLACEMENT' | translate }}</li>
      <li>{{ 'SITE_MAINTENANCE' | translate }}</li>
      <li>{{ 'MODULE_CLEANING' | translate }}</li>
      <li>{{ 'GRASS_CUTTING' | translate }}</li>
      <li>{{ 'SHADE_MANAGEMENT' | translate }}</li>
      <li>{{ 'ROAD_MAINTENANCE' | translate }}</li>
      <li>{{ 'FENCE_MAINTENANCE' | translate }}</li>
      <li>{{ 'SITE_SECURITY' | translate }}</li>
      <li>{{ 'SITE_SURVEILLANCE' | translate }}</li>
    </ul>
    <h4>{{ 'ASSET_MANAGEMENT' | translate }}</h4>
    <ul>
      <li>{{ 'WARRANTY_SUPPORT' | translate }}</li>
      <li>{{ 'HEALTH_SAFETY_MANAGEMENT' | translate }}</li>
    </ul>
    <h4>{{ 'ADDITIONAL_BACKUP' | translate }}</h4>
    <ul>
      <li>{{ 'PLANT_COMMISSIONING' | translate }}</li>
      <li>{{ 'UPGRADES_RETROFITS' | translate }}</li>
      <li>{{ 'UPGRADES_MONITORING' | translate }}</li>
      <li>{{ 'COMPLIANCE_CONSULTING' | translate }}</li>
      <li>{{ 'PRE_WARRANTY_INSPECTIONS' | translate }}</li>
    </ul>
  </div>
  <div class="image-content">

    <div class="image-item">
      <img src="assets/image/services/Operation and Maintenance/operation and maintenance floating solar.jpg" alt="{{ 'FLOATING_SOLAR' | translate }}">
      <p style="font-weight: bolder;font-size: large;">{{ 'FLOATING_SOLAR' | translate }}</p>
    </div>
    <div class="image-item">
      <img src="assets/image/services/Operation and Maintenance/grass cutting.jpg" alt="{{ 'GRASS_CUTTING' | translate }}">
      <p style="font-weight: bolder;font-size: large;">{{ 'GRASS_CUTTING' | translate }}</p>
    </div>
    <div class="image-item">
      <img src="assets/image/services/Operation and Maintenance/electrical testing.jpg" alt="{{ 'ELECTRICAL_TESTING' | translate }}">
      <p style="font-weight: bolder;font-size: large;">{{ 'ELECTRICAL_TESTING' | translate }}</p>
    </div>
    <div class="image-item">
      <img src="assets/image/services/Operation and Maintenance/panel cleaning.jpg" alt="{{ 'PANEL_CLEANING' | translate }}">
      <p style="font-weight: bolder;font-size: large;">{{ 'PANEL_CLEANING' | translate }}</p>
    </div>
    <div class="image-item">
      <img src="assets/image/services/Operation and Maintenance/robot panel cleaning.jpg" alt="{{ 'ROBOT_PANEL_CLEANING' | translate }}">
      <p style="font-weight: bolder;font-size: large;">{{ 'ROBOT_PANEL_CLEANING' | translate }}</p>
    </div>
    <div class="image-item">
      <img src="assets/image/services/Operation and Maintenance/solar panel testing.jpg" alt="{{ 'SOLAR_PANEL_TESTING' | translate }}">
      <p style="font-weight: bolder;font-size: large;">{{ 'SOLAR_PANEL_TESTING' | translate }}</p>
    </div>
  </div>
</div>
<div class="background-image">
  <img src="assets/image/services/Operation and Maintenance/OM services.jpg" alt="{{ 'OM_SERVICES' | translate }}">
</div>
<br />

