
<br>
<br>

<div class="operation-maintenance-container">
  <div class="text-content">
    <h2>Operation and Maintenance (O&M)</h2>
    <p>
      Our operations and management (O&M) services are delivered by an expert team to secure everything your plant needs to run at peak efficiency.
    </p>
    <p>
      We have the technical expertise and high service standards to handle any and all requirements. A strong local presence across the country is backed up by excellent talent and world-class knowledge.
    </p>
    <h3>Services</h3>
    <h4>Guarantees</h4>
    <ul>
      <li>Response time</li>
      <li>Availability</li>
      <li>Performance ratios</li>
      <li>Yield</li>
    </ul>
    <h4>Operations</h4>
    <ul>
      <li>Remote monitoring</li>
      <li>Management of tasks and allocation of job numbers</li>
      <li>Remote plant control</li>
      <li>Site performance reporting</li>
      <li>Trend analysis</li>
      <li>Time-tabling panel cleaning</li>
    </ul>
    <h4>Maintenance</h4>
    <ul>
      <li>Fixed price annual packages</li>
      <li>Inspections and maintenance on:</li>
      <ul>
        <li>Inverters</li>
        <li>Transformers</li>
        <li>Medium & high voltage switchgear</li>
        <li>Sensors</li>
        <li>Structure</li>
        <li>Modules</li>
        <li>Combiner boxes</li>
        <li>Cabling</li>
        <li>IV Curve testing</li>
        <li>Thermal imaging - ground and aerial by licensed drone</li>
        <li>Electroluminescence</li>
      </ul>
      <li>Outage and diagnostics on site</li>
      <li>Replacement (or repair) of PV kits as required</li>
      <li>Replacement (or repair) of MV/HV kit</li>
      <li>Site maintenance</li>
      <li>Module cleaning</li>
      <li>Grass cutting</li>
      <li>Management of shade creeping</li>
      <li>Road maintenance</li>
      <li>Perimeter fence maintenance</li>
      <li>Site security</li>
      <li>Site surveillance</li>
    </ul>
    <h4>Asset Management</h4>
    <ul>
      <li>Warranty and insurance support</li>
      <li>Health & safety management</li>
    </ul>
    <h4>Additional Backup</h4>
    <ul>
      <li>Plant: commissioning & quality control</li>
      <li>including upgrades and retrofits</li>
      <li>Monitoring of any upgrades or retrofits</li>
      <li>Compliance consulting</li>
      <li>Pre warranty inspections</li>
    </ul>
  </div>
  <div class="image-content">
    <div class="image-item">
      <img src="assets/image/services/Operation and Maintenance/operation and maintenance floating solar.jpg" alt="Floating Solar">
      <p style="font-weight: bolder;font-size: large;">Floating Solar</p>
    </div>
    <div class="image-item">
      <img src="assets/image/services/Operation and Maintenance/electrical testing.jpg" alt="Electrical Testing">
      <p style="font-weight: bolder;font-size: large;">Electrical Testing</p>
    </div>
    <div class="image-item">
      <img src="assets/image/services/Operation and Maintenance/OM services.jpg" alt="OM Services">
      <p style="font-weight: bolder;font-size: large;">OM Services</p>
    </div>
    <div class="image-item">
      <img src="assets/image/services/Operation and Maintenance/panel cleaning.jpg" alt="Panel Cleaning">
      <p style="font-weight: bolder;font-size: large;">Panel Cleaning</p>
    </div>
    <div class="image-item">
      <img src="assets/image/services/Operation and Maintenance/robot panel cleaning.jpg" alt="Robot Panel Cleaning">
      <p style="font-weight: bolder;font-size: large;">Robot Panel Cleaning</p>
    </div>
    <div class="image-item">
      <img src="assets/image/services/Operation and Maintenance/solar panel testing.jpg" alt="Solar Panel Testing">
      <p style="font-weight: bolder;font-size: large;">Solar Panel Testing</p>
    </div>
  </div>
</div>
