
<section class="intro-section">
    <div class="intro-container">
        <h1>{{ 'EV_CHARGING_TITLE' | translate }}</h1>
        <p>{{ 'EV_CHARGING_DESCRIPTION' | translate }}</p>
    </div>
</section>

<!-- <section class="project-section white-background">
    <div class="container">
      <div class="text-content">
        <h2>{{ 'EV_PROJECT_1_TITLE' | translate }}</h2>
      </div>
      <div class="image-content">
        <img src="assets/project/EV charging/EV charging.jpg" alt="EV Charging 1">
      </div>
    </div>
</section> -->

<section class="project-section white-background">
    <div class="container">
      <div class="image-content">
        <img src="assets/project/EV charging/solar carport charging station.jpg" alt="EV Charging 2">
      </div>
      <div class="text-content">
        <h2>{{ 'EV_PROJECT_2_TITLE' | translate }}</h2>
      </div>
    </div>
</section>

<section class="project-section black-background">
    <div class="container">
      <div class="text-content">
        <h2>{{ 'EV_PROJECT_3_TITLE' | translate }}</h2>
      </div>
      <div class="image-content">
        <img src="assets/project/EV charging/solar carport.webp" alt="EV Charging 3">
      </div>
    </div>
</section>

