/* You can add global styles to this file, and also import other style files */
/* Remove any lines like this if they exist */
@import "~material-design-icons/iconfont/material-icons.css";



:root {
  --primary-color: #FFC107; /* Gold color similar to the logo */
  --secondary-color: #ffffff; /* White */
  --text-color: #010101; /* Black */
  --background-color: #ffffff; /* White */
  --hover-background-color: #FFC107; /* Gold color for hover */
  --hover-text-color: #ffffff;
 --third-color: #f5f5f5b1; /* White text on hover */
}

body, html {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color:var(--background-color) ;
    overflow-x: hidden; /* Prevent horizontal overflow */
  }



