<br />
<br />
<br />
<br />
<br />
<div class="operation-maintenance-container">
  <div class="text-content">
    <h2>{{ 'EPC_TITLE' | translate }}</h2>
    <p>{{ 'EPC_DESCRIPTION1' | translate }}</p>
  </div>
  <div class="image-content">
    <div class="image-item">
      <img src="assets/image/services/e&m/engineering procurement and construction (EPC).jpg" alt="{{ 'EPC_IMAGE' | translate }}">
      <p>{{ 'EPC_IMAGE' | translate }}</p>
    </div>
    <div class="image-item">
      <img src="assets/image/services/e&m/Engineering.jpg" alt="{{ 'ENGINEERING' | translate }}">
      <p>{{ 'ENGINEERING' | translate }}</p>
    </div>
  </div>
</div>



<div class="background-image">
  <img src="assets/image/services/e&m/procurement.jpg"  alt="{{ 'HEALTH_AND_SAFETY' | translate }}">
</div>
<br />

