<br>
<br>
<div class="epc-container">
    <div class="text-content">
      <h2>EPC (Engineering, Procurement and Construction)</h2>
      <p>
        VARTEC is an expert in the professional design, construction and operation of turnkey large-scale photovoltaic plants (including battery storage systems, electric vehicle charging and more). We are a reliable partner and advisor in the EPC process and can manage every stage from detailed design and engineering, through to construction and operation phases. We have in-house health and safety specialists to ensure that projects run smoothly and safely. We have a zero-accident record to date.
      </p>
      <p>
        Our highly specialized team consists of experts with decades of experience in plant engineering, procurement and construction. We control every phase of the EPC process with routine and flexibility. In this way, we not only ensure sustainable plant quality, we also make a long-lasting and reliable contribution to green electricity production and the success of the energy transition.
      </p>
    </div>
  </div>
  
