

<div class="operation-maintenance-container">
  <div class="text-content">
    <h1>{{ 'EPC_TITLE' | translate }}</h1>
    <p>{{ 'EPC_DESCRIPTION1' | translate }}</p>
  </div>
  <div class="image-content">
    <div class="image-item">
      <img loading="lazy" decoding="async" src="assets/image/services/e&m/engineering procurement and construction (EPC).webp" alt="{{ 'EPC_IMAGE' | translate }}">
      <p>{{ 'EPC_IMAGE' | translate }}</p>
    </div>
    <div class="image-item">
      <img loading="lazy" decoding="async" src="assets/image/services/e&m/Engineering.webp" alt="{{ 'ENGINEERING' | translate }}">
      <p>{{ 'ENGINEERING' | translate }}</p>
    </div>
  </div>
</div>



<div class="background-image">
  <img loading="lazy" decoding="async" src="assets/image/services/e&m/procurement.webp"  alt="{{ 'HEALTH_AND_SAFETY' | translate }}">
</div>
